/* Your custom css code goes here */

:root {
  --back: white;
  --primary: #287094;
  --text: grey;
  --secondary: #023246;
  --accent: #d4d4ce;
}

#profile {
  outline: none;
  border: transparent;
  background-color: transparent;
}

#profile {
  border: transparent;
}

.profile-dd a {
  display: block;
}

.space-des {
  font-size: 12px;
}

.contact-img {
  height: 700px !important;
}

.conatct-sec-div {
  background-color: var(--secondary);
  color: var(--accent);
}

.conatct-sec-div h2 {
  color: aliceblue;
}

.contact-sec-div a {
  background-color: var(--accent) !important;
  color: var(--secondary) !important;
  border-color: var(--accent) !important;
}

.contact-sec-div a:hover {
  background-color: var(--primary) !important;
  color: var(--accent) !important;
  border-color: var(--primary) !important;
}

/*space-gallery page*/

.chk-box label {
  font-family: Rubik, sans-serif !;
  font-weight: 400;
}

.chk-box input:checked + label {
  font-family: Rubik, sans-serif !;
  font-weight: 400;
  color: var(--accent);
}

.filter-btn {
  background-color: var(--accent);
  border: none;
  outline: none;
  padding: 0px 10px;
}

.locate-icon {
  background-color: var(--accent);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  top: 4px !important;
  left: 100px !important;
  margin-bottom: 15px !important;
}

.locate-icon i {
  color: var(--primary) !important;
}

.locate-icon:hover {
  background-color: var(--secondary);
  color: var(--accent) !important;
}

.probootstrap-room img {
  height: 500px;
}

.checkout-cont {
  background-color: var(--back) !important;
  width: 50%;
  height: 50%;
  border: 1px solid var(--accent);
  color: var(--secondary);
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.checkout-icon {
  font-size: 40px !important;
  color: #023246 !important;
}
