@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    max-width: 100%;
}

.left {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    -webkit-animation-name: left;
    animation-name: left;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.right {
    flex: 1;
    background-color: black;
    transition: 1s;
    background-image: url(https://media-private.canva.com/MADaqYyASSQ/1/screen_2x.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJWF6QO3UH4PAAJ6Q%2F20210312%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210312T025202Z&X-Amz-Expires=47283&X-Amz-Signature=9a7454f8cdf58970cd67d02fa945f38205f7c5013db22bbcddced9a489f31b0b&X-Amz-SignedHeaders=host&response-expires=Fri%2C%2012%20Mar%202021%2016%3A00%3A05%20GMT);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header > h2 {
    margin: 0;
    color: #4f46a5;
}

.header > h4 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
}

.form {
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

.form > p {
    text-align: right;
}

.form > p > a {
    color: #000;
    font-size: 14px;
}

.form-field {
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: "Rubik", sans-serif;
    outline: 0;
    transition: 0.2s;
    margin-top: 20px;
}

.form-field:focus {
    border-color: #0f7ef1;
}

.form > button {
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, #de48b5 0%, #0097ff 100%);
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-family: "Rubik", sans-serif;
}

.animation {
    -webkit-animation-name: move;
    animation-name: move;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.a1 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.a2 {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.a3 {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
}

.a4 {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
}

.a5 {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

.a6 {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

@-webkit-keyframes move {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}


.button input[type="button"] {
    color: #08233e;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size: 70%;
    padding: 14px;
    background: url(overlay.png) repeat-x center #ffcc00;
    background-color: rgba(255, 204, 0, 1);
    border: 1px solid #ffcc00;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-bottom: 1px solid #9f9f9f;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: block;
    width: 100%;
}

.button input[type="button"]:hover {
    background-color: rgba(255, 204, 0, 0.8);
}

@keyframes move {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@-webkit-keyframes left {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        padding: 20px 40px;
        width: 440px;
    }
}

@keyframes left {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        padding: 20px 40px;
        width: 440px;
    }
}