/* Your custom css code goes here */

:root {
  --back: white;
  --primary: #287094;
  --text: grey;
  --secondary: #023246;
  --accent: #d4d4ce;
}

.overlay-home{
height: 80% !important;
padding:20px 0px;
display:flex;
align-items:center;
justify-content:center;
}

@media screen and (max-width: 768px){
.overlay-home{
height: 100% !important;
}
}

#profile {
  outline: none;
  border: transparent;
  background-color: transparent;
}

#profile {
  border: transparent;
}

.profile-dd a {
  display: block;
}

.space-des {
  font-size: 12px;
}

.contact-img {
  height: 700px !important;
}

.conatct-sec-div {
  background-color: var(--secondary);
  color: var(--accent);
}

.conatct-sec-div h2 {
  color: aliceblue;
}

.contact-sec-div a {
  background-color: var(--accent) !important;
  color: var(--secondary) !important;
  border-color: var(--accent) !important;
}

.contact-sec-div a:hover {
  background-color: var(--primary) !important;
  color: var(--accent) !important;
  border-color: var(--primary) !important;
}



.chk-box label {
  font-family: Rubik, sans-serif !important;
  font-weight: 400;
}

.chk-box input:checked + label {
  font-family: Rubik, sans-serif !important;;
  font-weight: 400;
  color: var(--accent);
}

.filter-btn {
  background-color: var(--accent);
  border: none;
  outline: none;
  padding: 0px 10px;
}

.locate-icon {
  background-color: var(--accent);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  top: 4px !important;
  left: 100px !important;
  margin-bottom: 15px !important;
}

.locate-icon i {
  color: var(--primary) !important;
}

.locate-icon:hover {
  background-color: var(--secondary);
  color: var(--accent) !important;
}

.probootstrap-room img {
  height: 500px;
}

.checkout-cont {
  background-color: var(--back) !important;
  width: 50%;
  height: 50%;
  border: 1px solid var(--accent);
  color: var(--secondary);
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.checkout-icon {
  font-size: 40px !important;
  color: #023246 !important;
}

.profile-nav {
    float: left;
    padding:20px 10px 20px 0px;
    border-right:1.5px solid var(--accent);
    width: 22%;
    height:100vh;
    margin-left: 0;
}

.profile {
    padding: 30px;
    font-size: 20px;
    width:100%;
}

.el-list {
    font-size: medium;
    padding-bottom:10px;
}

.el-list a:hover{
color:var(--accent) !important;
}

.update {
    padding-right: 13%;
}

.profile-image {
    border-radius: 4px; /* Rounded border */
    width: 150px;
}

.property_name {
    color: #0b0b0b !important;
}

.hires img {
    width: 15vw;
}

/* Your custom css code goes here */

:root {
    --back: white;
    --primary: #287094;
    --text: grey;
    --secondary: #023246;
    --accent: #d4d4ce;
}

#profile {
    outline: none;
    border: transparent;
    background-color: transparent;
}

#profile {
    border: transparent;
}

.profile-dd a {
    display: block;
}

.space-des {
    font-size: 12px;
}

.contact-img {
    height: 700px !important;
}

.conatct-sec-div {
    background-color: var(--secondary);
    color: var(--accent);
}

.conatct-sec-div h2 {
    color: aliceblue;
}

.contact-sec-div a {
    background-color: var(--accent) !important;
    color: var(--secondary) !important;
    border-color: var(--accent) !important;
}

.contact-sec-div a:hover {
    background-color: var(--primary) !important;
    color: var(--accent) !important;
    border-color: var(--primary) !important;
}



.chk-box label {
    font-family: Rubik, sans-seri;
    font-weight: 400;
}

.chk-box input:checked + label {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    color: var(--accent);
}

.filter-btn {
    background-color: var(--accent);
    border: none;
    outline: none;
    padding: 0px 10px;
}


.dropdown-div{
background-color:transparent;
display:none;
height:200px;
top:70px;
padding-top:20px;
padding:10px;
z-index:10000;
position:absolute;
flex-direction:column;
align-items:flex-start;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav .dropdown-div{
top:400px;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav .dropdown-div a{

padding:0px;
}

#dropdown:hover + .dropdown-div{
display:flex;

}

.dropdown-div:hover{
display:flex;
transition:0.2s linear;
}

.space-gallery-navi-btn{
margin:0 0 20% 45%;
}

.about-cont{
background-color:var(--secondary);
}

.about-cont span{
color:white;
}

.about-cont i, .about-cont h2{
color:var(--accent) !important;}

.about-cont p{
color:rgb(219, 209, 196);
}

.room-cont {
    display: flex;
    flex-wrap:wrap;
    width: 90vw;

}
.room{
    margin: 10px;
    order: 2;
    width: 25%;
}

.room-cont-home .room{
width:100%;
}

.room img{
height:300px;
width:100%;
transition:0.2s linear !important;}

.room img:hover{
opacity:0.7;

}

.room .text{
border:1px solid var(--accent);
padding:0px 10px !important;

}

.room h4{
padding:10px 0px;
transition:0.2s linear;
}

.room h4:hover{
color:var(--accent);
background-color:var(--secondary);
}

.form-group-detail h4{
color: var(--primary)!important;
}

.form-group-detail i{
font-size:16px;
margin-right:5px;
}

.form-group-detail span{
float:right;
color:black;
margin-right:40%;
}

.profile-no-cont{
text-align:center;
margin:1% 22%;
color:var(--secondary) !important;
background-color:var(--back);
border:2px solid var(--accent);
padding:20px;
border-radius:10px;
}


.profile-no-cont i{
font-size:100px;
}