<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jamboree Palace</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="icon" href="../static/img/logo-small.png" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles-merged.css">
    <link rel="stylesheet" href="../static/css/style.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="../static/fontawesome-free-5.15.2-web/css/all.css">

    <!--[if lt IE 9]>
    <script src="../static/js/vendor/html5shiv.min.js"></script>
    <script src="../static/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- START: header -->

<header role="banner" class="probootstrap-header">
    <!-- <div class="container"> -->
    <div class="row">
        <a href="index.html" class="probootstrap-logo visible-xs"><img src="../static/img/logoD1.png" class="hires"
                                                                       width="120" height="33"
                                                                       alt="Free Bootstrap Template by uicookies.com"></a>

        <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
            <ul class="probootstrap-main-nav">

                <li class="active"><a href='{{ url_for("home") }}'>Home</a></li>
                <li><a href='{{ url_for("spaces") }}'>Spaces</a></li>
                <li><a href='{{ url_for("enlist") }}'>Enlist</a></li>

                <li class="hidden-xs probootstrap-logo-center">
                    <a href="index.html">
                        <img src="../static/img/logoD1.png" class="hires" width="100px" height=""
                             alt="Jamboree-Palace-logo">
                    </a>
                </li>

                <li><a href='{{ url_for("about") }}'>About</a></li>
                <li><a href='{{ url_for("contact") }}'>Contact</a></li>
                {% if current_user.is_authenticated %}
                <li>
                    <a id="dropdown" href='{{ url_for("profile") }}'>Profile</a>
                    <div class="dropdown-div">
                    <a class="dropdown" href='{{ url_for("prevBookings") }}'>Previous Bookings</a>
                     <a class="dropdown" href='{{ url_for("enlistApplication") }}'>Enlistments</a>
                        <a class="dropdown" href='{{ url_for("manageProperty") }}'>My Properties</a>
                    <a href = '{{ url_for("logout") }}'>Log out <i class="icon fas fa-sign-out-alt"></i></a>
                    </div>


                </li>
                {% else %}
                <li><a href='{{ url_for("login") }}'> Login/Signup </a></li>
                {% endif %}
            </ul>
            <div class="extra-text visible-xs">
                <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
                <h5>Connect With Us</h5>
                <ul class="social-buttons">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook2"></i></a></li>
                    <li><a href="#"><i class="icon-instagram2"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- </div> -->
</header>
<!-- END: header -->

  <section class="probootstrap-section">

      <div class="row probootstrap-gutter60">
        <div class="col-md-6 probootstrap-slider flexslider probootstrap-inner contact-img">
          <img src="../static/img/space1.jpg" style="width: 100%; height:100%;">
          </div>


        <div class="col-md-6">

          <h2 class="mt0">Send Us Your Thoughts</h2>
          <form action="#" method="post" class="probootstrap-form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="fname">First Name</label>
                  <input type="text" class="form-control" id="fname" name="fname">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lname">Last Name</label>
                  <input type="text" class="form-control" id="lname" name="lname">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
              <label for="subject">Subject</label>
              <input type="text" class="form-control" id="subject" name="subject">
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea cols="30" rows="10" class="form-control" id="message" name="message"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-lg" id="submit" name="submit" value="Send Message">
            </div>
          </form>
        </div></div>
        <div class="row probootstrap-gutter60 contact-sec-div">
        <div class="col-md-5 col-md-offset-1 mt60">
          <h2 class="mt0">Get In Touch</h2>
          <ul class="probootstrap-contact-info">
            <li><i class="icon-location2"></i> <span>streetname Street, area New Delhi 10016</span></li>
            <li><i class="icon-mail"></i><span>info@domain.com</span></li>
            <li><i class="icon-phone2"></i><span>+91 xxxxx xxxxx</span></li>
          </ul></div>
          <div class="col-md-5">
          <h2>Feedback</h2>
          <p>Liking our services? Or want us to improve on something? What ever it is, your valuable thoughts are important for us to better our services.</p>
          <p><a href="#" class="btn btn-primary" role="button">Send Message</a></p>
        </div>
      </div>

  </section>



  <!-- START: footer -->
<footer role="contentinfo" class="probootstrap-footer">
    <div class="container">
            <div class="col-md-3">
                <div class="probootstrap-footer-widget">
                    <p class="mt40"><img src="../static/img/logoD1.png" class="hires" width="50%" height="50%"
                                         alt="logo"></p>
                    <p style="font-size:80%;">A new idea for small groups to come together has finally become big enough to be put out there
                        for our clients.

                    </p>
                    <p><a href="#" class="link-with-icon">Learn More About Us!<i class=" icon-chevron-right"></i></a>
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="probootstrap-footer-widget">
                    <p class="mt40"><img src="../static/img/main-img.jpg" class="hires" width="90%"
                                         height="150px" alt="logo"></p>
                    <p>
                    <form>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="search" class="form-control" id="footer-newsletter"
                                       name="footer-newsletter" placeholder="Subscribe">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-md" id="submit" name="submit" value="Go"
                                   style="height: 35px;">
                        </div>
                </form>
                </p>
            </div>
            </div>


            <div class="col-md-3">
                <div class="probootstrap-footer-widget">
                    <h3>Contact</h3>
                    <ul class="probootstrap-contact-info">
                        <li><i class="icon-location2"></i>
                            <span>198 West 21th Street, Suite 721 New York NY 10016</span></li>
                        <li><i class="icon-mail"></i><span>info@domain.com</span></li>
                        <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
                    </ul>

                    <div class="row mt30">
                        <ul class="probootstrap-footer-social">
                            <li><a href=""><i class="icon-twitter"></i></a></li>
                            <li><a href=""><i class="icon-facebook"></i></a></li>
                            <li><a href=""><i class="icon-instagram2"></i></a></li>
                        </ul>

                    </div>

                </div>
            </div>
    </div>
</footer>
<!-- END: footer -->



  <script src="js/scripts.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="js/custom.js"></script>

  </body>
</html>