<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jamboree Palace</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="icon" href="../static/img/logo-small.png" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles-merged.css">
    <link rel="stylesheet" href="../static/css/style.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="../static/fontawesome-free-5.15.2-web/css/all.css">

    <!--[if lt IE 9]>
    <script src="../static/js/vendor/html5shiv.min.js"></script>
    <script src="../static/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- START: header -->

<header role="banner" class="probootstrap-header">
    <!-- <div class="container"> -->
    <div class="row">
        <a href="index.html" class="probootstrap-logo visible-xs"><img src="../static/img/logoD1.png" class="hires"
                                                                       width="120" height="33"
                                                                       alt="Free Bootstrap Template by uicookies.com"></a>

        <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
            <ul class="probootstrap-main-nav">

                <li class="active"><a href='{{ url_for("home") }}'>Home</a></li>
                <li><a href='{{ url_for("spaces") }}'>Spaces</a></li>
                <li><a href='{{ url_for("enlist") }}'>Enlist</a></li>

                <li class="hidden-xs probootstrap-logo-center">
                    <a href="index.html">
                        <img src="../static/img/logoD1.png" class="hires" width="100px" height=""
                             alt="Jamboree-Palace-logo">
                    </a>
                </li>

                <li><a href='{{ url_for("about") }}'>About</a></li>
                <li><a href='{{ url_for("contact") }}'>Contact</a></li>
                {% if current_user.is_authenticated %}
                <li>
                    <a id="dropdown" href='{{ url_for("profile") }}'>Profile</a>
                    <div class="dropdown-div">
                    <a class="dropdown" href='{{ url_for("prevBookings") }}'>Previous Bookings</a>
                     <a class="dropdown" href='{{ url_for("enlistApplication") }}'>Enlistments</a>
                        <a class="dropdown" href='{{ url_for("manageProperty") }}'>My Properties</a>
                    <a href = '{{ url_for("logout") }}'>Log out <i class="icon fas fa-sign-out-alt"></i></a>
                    </div>


                </li>
                {% else %}
                <li><a href='{{ url_for("login") }}'> Login/Signup </a></li>
                {% endif %}
            </ul>
            <div class="extra-text visible-xs">
                <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
                <h5>Connect With Us</h5>
                <ul class="social-buttons">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook2"></i></a></li>
                    <li><a href="#"><i class="icon-instagram2"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- </div> -->
</header>
<!-- END: header -->


<section class="probootstrap-section">
    <div class="container">
        <div class="profile-nav col-md-4">
                <ul style="list-style-type:none;">
                    <li class="el-list"> <img src="{{ current_user.profile_img }}" alt="Profile Image" class="profile-image"></li>
                    <br><br>
                    <li class="el-list"><a href = "{{ url_for('profile') }}"> <i class="fa fa-user"></i> Profile</a></li>
                    <li class="el-list"><a href = "{{ url_for('prevBookings') }}"><i class="fa fa-calendar-day"></i> Previous bookings</a></li>
                    <li class="el-list"><a href = "{{ url_for('enlistApplication') }}"><i class="fa fa-clipboard-list"></i> Enlistment Applications</a></li>
                    <li class="el-list"><a href = "{{ url_for('manageProperty') }}"><i class="fa fa-tasks"></i> Manage Properties</a></li>
                </ul>
            </div>

        {% for property in properties %}
            {% if property %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="probootstrap-room">
                        <a href="#"><img src="../static/property_img/{{ property.image }}" alt='../static/bg.jpg'
                                         class="img-responsive"></a>
                        <div class="text">
                            <h3>{{ property.property_name }}</h3>
                            <p>Contact No <strong>{{ property.contact_manager }}</strong></p>
                            <div class="post-meta mb30 property_name">
                                <ul>
                                    <li> {{ property.enlistment_status }} </li>
                                    <br>
                                    <li>Owner Name : {{ property.owner_name }} </li>
                                    <br>
                                    <li>Address : {{ property.address }} </li>
                                    <br>
                                    <li>Best Price : {{ property.best_price }} </li>
                                </ul>
                            </div>
                            <p><a href="#" class="btn btn-primary" role="button">Details</a></p>
                        </div>
                    </div>
                </div>
            {% else %}
                <h4 style="color:#d4d4ce;"> No Applications</h4>
            {% endif %}
        {% endfor %}


    </div>

</section>

<!-- START: footer -->
<footer role="contentinfo" class="probootstrap-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="probootstrap-footer-widget">
                    <p class="mt40"><img src="../static/img/logoD1.png" class="hires" width="120" height="120"
                                         alt="logo"></p>
                    <p>A new idea for small groups to come together has finally become big enough to be put out there
                        for our clients.

                    </p>
                    <p><a href="#" class="link-with-icon">Learn More About Us!<i class=" icon-chevron-right"></i></a>
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="probootstrap-footer-widget">
                    <p class="mt40"><img src="../static/img/main-img.jpg" class="hires" width="480"
                                         height="200" alt="logo"></p>
                    <p>
                    <form>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="search" class="form-control" id="footer-newsletter"
                                       name="footer-newsletter" placeholder="Subscribe">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-md" id="submit" name="submit" value="Search"
                                   style="height: 35px;">
                        </div>
                </div>
                </form>
                </p>
            </div>


            <div class="col-md-3">
                <div class="probootstrap-footer-widget">
                    <h3>Contact</h3>
                    <ul class="probootstrap-contact-info">
                        <li><i class="icon-location2"></i>
                            <span>198 West 21th Street, Suite 721 New York NY 10016</span></li>
                        <li><i class="icon-mail"></i><span>info@domain.com</span></li>
                        <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
                    </ul>

                    <div class="row mt30">
                        <ul class="probootstrap-footer-social">
                            <li><a href=""><i class="icon-twitter"></i></a></li>
                            <li><a href=""><i class="icon-facebook"></i></a></li>
                            <li><a href=""><i class="icon-instagram2"></i></a></li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END: footer -->

<script src="../static/js/scripts.min.js"></script>
<script src="../static/js/main.min.js"></script>
<script src="../static/js/custom.js"></script>

</body>

</html>