<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jamboree Palace</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="icon" href="../static/img/logo-small.png" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles-merged.css">
    <link rel="stylesheet" href="../static/css/style.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.2-web/css/all.css">

    <!--[if lt IE 9]>
    <script src="../static/js/vendor/html5shiv.min.js"></script>
    <script src="../static/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- START: header -->

<header role="banner" class="probootstrap-header">
    <!-- <div class="container"> -->
    <div class="row">
        <a href="index.html" class="probootstrap-logo visible-xs"><img src="../static/img/logoD1.png" class="hires"
                                                                       width="120" height="33"
                                                                       alt="Free Bootstrap Template by uicookies.com"></a>

        <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
            <ul class="probootstrap-main-nav">

                <li class="active"><a href='{{ url_for("home") }}'>Home</a></li>
                <li><a href='{{ url_for("spaces") }}'>Spaces</a></li>
                <li><a href='{{ url_for("enlist") }}'>Enlist</a></li>

                <li class="hidden-xs probootstrap-logo-center">
                    <a href="index.html">
                        <img src="../static/img/logoD1.png" class="hires" width="100px" height=""
                             alt="Jamboree-Palacelogo">
                    </a>
                </li>

                <li><a href='{{ url_for("about") }}'>About</a></li>
                <li><a href='{{ url_for("contact") }}'>Contact</a></li>
                {% if current_user.is_authenticated %}
                    <li>
                        <a id="dropdown" href='{{ url_for("profile") }}'>Profile</a>
                        <div class="dropdown-div">
                            <a class="dropdown" href='{{ url_for("prevBookings") }}'>Previous Bookings</a>
                            <a class="dropdown" href='{{ url_for("enlistApplication") }}'>Enlistments</a>
                            <a class="dropdown" href='{{ url_for("manageProperty") }}'>My Properties</a>
                            <a href='{{ url_for("logout") }}'>Log out <i class="icon fa fa-sign-out"></i></a>
                        </div>

                        <!--                    <select name="profile" id="profile">-->
                        <!--                        <option value="placeholder"><a href = '{{ url_for("profile") }}'>Profile</a></option>-->
                        <!--                        <option value=""><a href = '{{ url_for("prevBookings") }}'>Previous Bookings</a></option>-->
                        <!--                        <option value=""><a href = '{{ url_for("enlistApplication") }}'>Enlistment Applications</a></option>-->
                        <!--                        <option value=""><a href = '{{ url_for("manageProperty") }}'>Manage Properties</a></option>-->
                        <!--                        <option value=""><a href = '{{ url_for("logout") }}'>Log out</a></option>-->
                        <!--                    </select>-->
                    </li>
                {% else %}
                    <li><a href='{{ url_for("login") }}'> Login/Signup </a></li>
                {% endif %}
            </ul>
            <div class="extra-text visible-xs">
                <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
                <h5>Connect With Us</h5>
                <ul class="social-buttons">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook2"></i></a></li>
                    <li><a href="#"><i class="icon-instagram2"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- </div> -->
</header>
<!-- END: header -->


<section class="probootstrap-section col-md-12">
    <div class="container">
        <div class="row probootstrap-gutter40">
            <div class="col-md-8">
                <form id="form_enlist" method="POST" action="" onSubmit="submitForm()" enctype="multipart/form-data" >
                    <h2 class="mt0">Enlistment Form</h2>
                    <div class="probootstrap-form" id="form">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fname" class="required">First Name</label>
                                    <input type="text" class="form-control" id="fname" name="fname" required>
                                    <div id="nameErr"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lname" class="required">Last Name</label>
                                    <input type="text" class="form-control" id="lname" name="lname" required>
                                    <div id="lnameErr"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="required">Email</label>
                            <div class="form-field">
                                <i class="icon icon-mail"></i>
                                <input type="email" class="form-control" id="email" name="email" required>
                                <div id="emailErr"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="vname" class="required">Venue Name</label>
                            <div class="form-field">
                                <input type="text" class="form-control" id="vname" name="vname" required>
                                <div id="vnameErr"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="required">Address</label>
                            <div class="form-field">
                                <input type="text" class="form-control" id="address" name="address" required>
                                <div id="addErr"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="desc" class="required">Description</label>
                            <div class="form-field">
                                <input type="text" class="form-control" id="desc" name="desc" required>
                                <div id="descErr"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="room" class="required">Type of space</label>
                            <div class="form-field">
                                <i class="icon icon-chevron-down"></i>
                                <select name="room" id="room" class="form-control" required>
                                    <option value="">Select type</option>
                                    <option value="private">Private</option>
                                    <option value="semi-private">Semi-Private</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phn" class="required">Phone number</label>
                                    <div class="form-field">
                                        <input type="text" class="form-control" id="phn" name="phn" required>
                                        <div id="mobileErr"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fd-contact">Front-Desk Contact</label>
                                    <div class="form-field">
                                        <input type="text" class="form-control" id="fd-contact" name="fd-contact">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb30">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="required">Partitons Available</label>
                                    <div class="form-field">
                                        <i class="icon icon-chevron-down"></i>
                                        <select name="partions" id="partions" class="form-control" required>
                                            <option value="">Number of Partitions</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4+</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Capacity" class="required">Capacity</label>
                                    <div class="form-field">
                                        <input type="text" class="form-control" id="Capacity" name="Capacity" required>
                                        <div id="capErr"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="pno" class="required">PAN No.</label>
                                    <input type="text" class="form-control" id="pno" name="pno" required>
                                    <div id="pnoErr"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="bp" class="required">Best Price</label>
                                    <input type="text" class="form-control" id="bp" name="bp" required>
                                    <div id="bpErr"></div>
                                </div>
                            </div>

                            <input type="file" class="btn" required id="myFile" multiple name="myFile">

                        </div>
                        <div class="form-group">
                            <input type="submit"  class="btn btn-primary btn-lg" id="submit"
                                   name="submit"
                                   value="Enlist">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h2 class="mt0">Enlistment Procedure</h2>
                <p>To ensure safety and security, we have a well-laid enlistment procedure:
                <ol>
                    <li>Fill out the enlistment form.</li>
                    <li>You will receive a mail about your enlistment application.</li>
                    <li>Based on your location, our team will arrive within 3-5 working days to check your documents and
                        verify the details.
                    </li>
                    <li>Once verification is complete, your land will be enlisted.</li>
                </ol>
                If you have some other concerns, fell free to contact us!
                </p>
                <p><a href="#" class="btn btn-primary" role="button">Contact us</a></p>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- START: footer -->
<footer role="contentinfo" class="probootstrap-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="probootstrap-footer-widget">
                    <p class="mt40"><img src="../static/img/logoD1.png" class="hires" width="120" height="120"
                                         alt="logo"></p>
                    <p>A new idea for small groups to come together has finally become big enough to be put out there
                        for our clients.

                    </p>
                    <p><a href="#" class="link-with-icon">Learn More About Us!<i class=" icon-chevron-right"></i></a>
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="probootstrap-footer-widget">
                    <p class="mt40"><img src="../static/img/main-img.jpg" class="hires" width="480"
                                         height="200" alt="logo"></p>
                    <p>

                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="search" class="form-control" id="footer-newsletter"
                                       name="footer-newsletter" placeholder="Subscribe">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-md" id="submit" name="submit" value="Search"
                                   style="height: 35px;">
                        </div>
                </div>
                </p>
            </div>


            <div class="col-md-3">
                <div class="probootstrap-footer-widget">
                    <h3>Contact</h3>
                    <ul class="probootstrap-contact-info">
                        <li><i class="icon-location2"></i>
                            <span>198 West 21th Street, Suite 721 New York NY 10016</span></li>
                        <li><i class="icon-mail"></i><span>info@domain.com</span></li>
                        <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
                    </ul>

                    <div class="row mt30">
                        <ul class="probootstrap-footer-social">
                            <li><a href=""><i class="icon-twitter"></i></a></li>
                            <li><a href=""><i class="icon-facebook"></i></a></li>
                            <li><a href=""><i class="icon-instagram2"></i></a></li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END: footer -->

<script src="../static/js/scripts.min.js"></script>
<script src="../static/js/main.min.js"></script>
<script src="../static/js/custom.js"></script>
<script>

</script>
</body>
</html>