<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ Title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles-merged.css">
    <link rel="stylesheet" href="../static/css/style.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="../static/fontawesome-free-5.15.2-web/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>

    <!--[if lt IE 9]>
    <script src="../static/js/vendor/html5shiv.min.js"></script>
    <script src="../static/js/vendor/respond.min.js"></script>
    <![endif]-->
    <style>
        .fade {
            opacity: 20;
        }

        .fade h4 {
            color: darkred;
        }

        .btn-google {
            color: #545454;
            background-color: #ffffff;
            box-shadow: 0 1px 2px 1px #ddd
        }

        .or-container {
            align-items: center;
            color: #ccc;
            display: flex;
            margin: 25px 0
        }

        .line-separator {
            background-color: #ccc;
            flex-grow: 5;
            height: 1px
        }

        .or-label {
            flex-grow: 1;
            margin: 0 15px;
            text-align: center
        }

        .invalid-feedback {
            display: block;
        }
    </style>
</head>
<body>

<!-- START: header -->

<header role="banner" class="probootstrap-header">
        <div class="row">
            <a href="index.html" class="probootstrap-logo visible-xs"><img src="../static/img/logo.jpeg" class="hires"
                    alt="JP Logo"></a>

            <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
            <div class="mobile-menu-overlay"></div>

            <nav role="navigation" class="probootstrap-nav hidden-xs">
                <ul class="probootstrap-main-nav">
                    <li><a href="{{ home }}">Home</a></li>
                    <li><a href="{{ about }}">About</a></li>
                    <li><a href="{{ spaces }}">Spaces</a></li>
                    <li class="hidden-xs probootstrap-logo-center"><a href="index.html"><img src="img/logo.jpeg"
                                class="hires" width="181" height="120" alt="JP LOGO"></a></li>
                    <li><a href="{{ enlist }}">Add enlistment</a></li>
                    <li><a href="{{ contact }}">Contact</a></li>
                     {% if current_user.is_authenticated %}
                        <li class="active"><a href="{{ profile }}">Profile</a></li>
                    {% else %}
                        <li class="active"><a href="{{ login }}">Login</a></li>
                </ul>
                <div class="extra-text visible-xs">
                    <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
                    <h5>Connect With Us</h5>
                    <ul class="social-buttons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook2"></i></a></li>
                        <li><a href="#"><i class="icon-instagram2"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
<!-- END: header -->

<section class="probootstrap-slider flexslider">
    <div class="slides login-slider" style="background-color: white;">
        <div style="background-color: white;" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">


                        <form action="" method="post" class="probootstrap-form">
                            {{ form.hidden_tag() }}
                            <div class="login-form">
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        {% for category,message in messages %}
                                            <div class="alert alert-{{ category }} alert-dismissible fade show"
                                                 role="alert">
                                                <h4>{{ message }}</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                        aria-label="Close"></button>
                                            </div>

                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}


                                <h2>Welcome back</h2>
                                <h4>Login using your email</h4>


                                {% if form.email.errors %}
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <div class="form-field">
                                                {{ form.email (class="form-control", placeholder="Username",type="text") }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <div class="form-field">
                                                {{ form.email (class="form-control", placeholder="Username",type="text") }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}



                                {% if form.password.errors %}
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <div class="form-field">
                                                {{ form.password (class="form-control", placeholder="password",type="password") }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <div class="form-field">
                                                {{ form.password (class="form-control", placeholder="Password",type="password") }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}


                                <div class="col-md-8">
                                    <div class="form-group">
                                        <div class="form-field">
                                            <label>
                                                <input type="checkbox" checked="checked" name="remember"> Remember me
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8 col-md-offset-5" style="margin-top: 30px;">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary btn-lg" id="submit" name="submit"
                                               value="Login">
                                    </div>
                                </div>
                            </div>
                        </form>


                    </div>


                </div>
            </div>

        </div>
    </div>

</section>


<!-- START: footer -->
    <footer role="contentinfo" class="probootstrap-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="probootstrap-footer-widget">
                        <center><img src="../static/img/logoD1.png" class="footlogo" height="250" alt="JP Logo"></center>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="probootstrap-footer-widget">
                        <h3>About us</h3>
                        <p>At Jamboree Palace we have decided to find a solution for your need for small spaces. Now you
                            don't have to worry about planning your small gatherings and events. We are here to take
                            care of all of that.</p>
                        <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="probootstrap-footer-widget">
                        <h3>Contact</h3>
                        <ul class="probootstrap-contact-info">
                            <li><i class="icon-location2"></i> <span>Jamboree Palace Main Office, Street 42, Cannaught
                                    Place, Delhi</span></li>
                            <li><i class="icon-mail"></i><span>info@jamboreepalace.com</span></li>
                            <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
                        </ul>
                        <div class="col-md-12 text-center">
                            <ul class="probootstrap-footer-social">
                                <li><a href=""><i class="icon-twitter"></i></a></li>
                                <li><a href=""><i class="icon-facebook"></i></a></li>
                                <li><a href=""><i class="icon-instagram2"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END: footer -->
<script type="application/javascript">
    $(document).ready(function () {
        $("#alert").hide();

    });
</script>
<script src="../static/js/scripts.min.js"></script>
<script src="../static/js/main.min.js"></script>
<script src="../static/js/custom.js"></script>


</body>
</html>