<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/login.css">

</head>
<body>

<!-- partial:index.partial.html -->
<div class="container">

    <div class="left">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        <h4>{{ message }}</h4>
                         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="header">
            <h2 class="animation a1">Welcome Back</h2>
            <h4 class="animation a2">Log in to your account using email and password</h4>

        </div>
        <form method="post" action="">

            <div class="form">
                {{ form.hidden_tag() }}
                {{ form.email (class="form-field animation a3",placeholder="Email Address") }}
                {{ form.password (class="form-field animation a4",placeholder="Password") }}
                {#      <input type="password" class="form-field animation a4" placeholder="Password">#}
                <p class="animation a5"><a href="#">Forgot Password</a></p>
                {{ form.submit }}
            </div>
        </form>
        {#      <button class="animation a6">LOGIN</button>#}
    </div>
    <div class="right"></div>
</div>
</div>
<!-- partial -->
<script type="application/javascript">
    $(document).ready(function () {
        $("#alert").hide();

    });
</script>
</body>
</html>
