<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <meta name="keywords"
        content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles-merged.css">
    <link rel="stylesheet" href="../static/css/style.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">


</head>

<body>

    <header role="banner" class="probootstrap-header">
    <!-- <div class="container"> -->
    <div class="row">
        <a href="index.html" class="probootstrap-logo visible-xs"><img src="../static/img/logoD1.png" class="hires"
                                                                       width="120" height="33"
                                                                       alt="Free Bootstrap Template by uicookies.com"></a>

        <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
            <ul class="probootstrap-main-nav">

                <li class="active"><a href="{{ url_for("home") }}">Home</a></li>
                <li><a href="{{ url_for('spaces') }}">Spaces</a></li>
                <li><a href="{{ url_for("enlist") }}">Enlist</a></li>

                <li class="hidden-xs probootstrap-logo-center">
                    <a href="index.html">
                        <img src="../static/img/logoD1.png" class="hires" width="100px" height=""
                             alt="Jamboree-Palacelogo">
                    </a>
                </li>

                <li><a href="{{ url_for("about") }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                {% if current_user.is_authenticated %}
                <li><a>
                    <select name="profile" id="profile">
                        <option value="placeholder"><a href = "{{ url_for("profile") }}">Profile</a></option>
                        <option value=""><a href = "{{ "prevBookings" }}">Previous Bookings</a></option>
                        <option value=""><a href = "{{ "enlistApplication(" }}">Enlistment Applications</a></option>
                        <option value=""><a href = "{{ "manageProperty" }}">Manage Properties</a></option>
                        <option value=""><a href = "{{ "logout" }}">Log out</a></option>
                    </select>
                </li>
                {% else %}
                <li><a href="{{ login }}"> Login/Signup </a></li>
                {% endif %}
            </ul>
            <div class="extra-text visible-xs">
                <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
                <h5>Connect With Us</h5>
                <ul class="social-buttons">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook2"></i></a></li>
                    <li><a href="#"><i class="icon-instagram2"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- </div> -->
</header>
    <section class="probootstrap-section">
        <div class="container">
            <div class="profile-nav">
                <ul style="list-style-type:none;">
                    <li><img src="./img/logo.jpeg" alt="Profile Image" class="profile-image"></li>
                    <li class="el-list"><a href = "{{ url_for('profile') }}">Profile</a></li>
                    <li class="el-list"><a href = "{{ url_for('prevBookings') }}">Previous bookings</a></li>
                    <li class="el-list"><a href = "{{ url_for('enlistApplication') }}">Enlistment Applications</a></li>
                    <li class="el-list"><a href = "{{ url_for('manageProperty') }}">Manage Properties</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="probootstrap-room">
                  <a href="#"><img src="img/img_1.jpg" alt="room1" class="img-responsive"></a>
                  <div class="text">
                    <h3>Grand Deluxe Space</h3>
                    <p>Enlisted on <strong>02 December 2020</strong></p>
                    <div class="post-meta mb30">
                      <ul>
                        <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 252 Reviews</li>
                        <li><i class="icon-user2"></i> 3 Guests</li>
                      </ul>
                    </div>
                    <p><a href="#" class="btn btn-primary" role="button">Details</a></p>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="probootstrap-room">
                  <a href="#"><img src="img/img_1.jpg" alt="room1" class="img-responsive"></a>
                  <div class="text">
                    <h3>Grand Deluxe Space</h3>
                    <p>Enlisted on <strong>02 December 2020</strong></p>
                    <div class="post-meta mb30">
                      <ul>
                        <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 252 Reviews</li>
                        <li><i class="icon-user2"></i> 3 Guests</li>
                      </ul>
                    </div>
                    <p><a href="#" class="btn btn-primary" role="button">Details</a></p>
                  </div>
                </div>
              </div>
        </div>

    </section>

   <!-- START: footer -->
    <footer role="contentinfo" class="probootstrap-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="probootstrap-footer-widget">
                    <p class="mt40"><img src="../static/img/logoD1.png" class="hires" width="120" height="120"
                                         alt="logo"></p>
                    <p>A new idea for small groups to come together has finally become big enough to be put out there
                        for our clients.

                    </p>
                    <p><a href="#" class="link-with-icon">Learn More About Us!<i class=" icon-chevron-right"></i></a>
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="probootstrap-footer-widget">
                    <p class="mt40"><img src="../static/img/THIS, HERE, LIGHT.jfif" class="hires" width="480"
                                         height="200" alt="logo"></p>
                    <p>
                    <form>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="search" class="form-control" id="footer-newsletter"
                                       name="footer-newsletter" placeholder="Subscribe">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-md" id="submit" name="submit" value="Search"
                                   style="height: 35px;">
                        </div>
                </div>
                </form>
                </p>
            </div>


            <div class="col-md-3">
                <div class="probootstrap-footer-widget">
                    <h3>Contact</h3>
                    <ul class="probootstrap-contact-info">
                        <li><i class="icon-location2"></i>
                            <span>198 West 21th Street, Suite 721 New York NY 10016</span></li>
                        <li><i class="icon-mail"></i><span>info@domain.com</span></li>
                        <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
                    </ul>

                    <div class="row mt30">
                        <ul class="probootstrap-footer-social">
                            <li><a href=""><i class="icon-twitter"></i></a></li>
                            <li><a href=""><i class="icon-facebook"></i></a></li>
                            <li><a href=""><i class="icon-instagram2"></i></a></li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
    <!-- END: footer -->

    <script src="js/scripts.min.js"></script>
    <script src="js/main.min.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>