<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jamboree Palace</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="icon" href="../static/img/logo-small.png" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles-merged.css">
    <link rel="stylesheet" href="../static/css/style.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="../static/fontawesome-free-5.15.2-web/css/all.css">

    <!--[if lt IE 9]>
    <script src="../static/js/vendor/html5shiv.min.js"></script>
    <script src="../static/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- START: header -->

<header role="banner" class="probootstrap-header">
    <!-- <div class="container"> -->
    <div class="row">
        <a href="index.html" class="probootstrap-logo visible-xs"><img src="../static/img/logoD1.png" class="hires"
                                                                       width="120" height="33"
                                                                       alt="Free Bootstrap Template by uicookies.com"></a>

        <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
            <ul class="probootstrap-main-nav">

                <li class="active"><a href='{{ url_for("home") }}'>Home</a></li>
                <li><a href='{{ url_for("spaces") }}'>Spaces</a></li>
                <li><a href='{{ url_for("enlist") }}'>Enlist</a></li>

                <li class="hidden-xs probootstrap-logo-center">
                    <a href="index.html">
                        <img src="../static/img/logoD1.png" class="hires" width="100px" height=""
                             alt="Jamboree-Palace-logo">
                    </a>
                </li>

                <li><a href='{{ url_for("about") }}'>About</a></li>
                <li><a href='{{ url_for("contact") }}'>Contact</a></li>
                {% if current_user.is_authenticated %}
                <li>
                    <a id="dropdown" href='{{ url_for("profile") }}'>Profile</a>
                    <div class="dropdown-div">
                    <a class="dropdown" href='{{ url_for("prevBookings") }}'>Previous Bookings</a>
                     <a class="dropdown" href='{{ url_for("enlistApplication") }}'>Enlistments</a>
                        <a class="dropdown" href='{{ url_for("manageProperty") }}'>My Properties</a>
                    <a href = '{{ url_for("logout") }}'>Log out <i class="icon fas fa-sign-out-alt"></i></a>
                    </div>


                </li>
                {% else %}
                <li><a href='{{ url_for("login") }}'> Login/Signup </a></li>
                {% endif %}
            </ul>
            <div class="extra-text visible-xs">
                <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
                <h5>Connect With Us</h5>
                <ul class="social-buttons">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook2"></i></a></li>
                    <li><a href="#"><i class="icon-instagram2"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- </div> -->
</header>
<!-- END: header -->

<section class="probootstrap-slider flexslider">

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form action="" method="POST" class="probootstrap-form">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category,message in messages %}
                                <div class="alert alert-{{ category }} alert-dismissible fade show" style="opacity: unset" role="alert">
                                    <h2>{{ message }}</h2>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {{ form.hidden_tag() }}

                    <div class="login-form">
                        <h2>Hey There!</h2>
                        <h4>Register to start booking spaces</h4>

                        {% if form.name.errors %}
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-field">
                                        {{ form.name (class="form-control form-control-lg is-invalid",placeholder="Name") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.name.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-field">
                                        {{ form.name (class="form-control",placeholder="Name") }}

                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% if form.email.errors %}
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-field">
                                        {{ form.email (class="form-control form-control-lg is-invalid",placeholder="Email") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-field">
                                        {{ form.email (class="form-control",placeholder="Email") }}

                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if form.password.errors %}
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-field">
                                        {{ form.password (class="form-control form-control-lg is-invalid",placeholder="Password") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-field">
                                        {{ form.password (class="form-control",placeholder="Password") }}

                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% if form.confirm_password.errors %}
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-field">
                                        {{ form.confirm_password (class="form-control form-control-lg is-invalid",placeholder="Confirm Password") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.confirm_password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-field">
                                        {{ form.confirm_password (class="form-control",placeholder="Confirm Password") }}

                                    </div>
                                </div>
                            </div>
                        {% endif %}




                        <div class="col-md-8 col-md-offset-5" style="margin-top: 30px;">
                            <div class="form-group">
                                {{ form.submit (class='btn btn-primary btn-lg') }}

                            </div>
                        </div>

                        <div class="col-md-8 col-md-offset-5" style="margin-top: 30px;">
                            <div class="form-group">
                                <a href="#">Already a memeber?</a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>


<script src="../static/js/scripts.min.js"></script>
<script src="../static/js/main.min.js"></script>
<script src="../static/js/custom.js"></script>


</body>
</html>