<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>

    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/registration.css">
    <style>

    </style>
</head>
<body>
<div class="login-wrap">
    <div class="login-html">
        {#        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>#}
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            <form method="post" action="">
                <!-- All flash message shit -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category,message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                <h2>sgdjndsd</h2>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {{ form.hidden_tag() }}


                {% if form.name.errors %}
                    <label for="user" class="label">Username</label>
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        {{ form.name (class="input") }}
                        {#                        <input id="user" type="text" class="input">#}
                    </div>
                {% endif %}




            {% if form.password.errors %}
                    <label for="pass" class="label">password</label>
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="group">
                        <label for="pass" class="label">password</label>
                        {{ form.password (class="input") }}
                        {#                        <input id="user" type="text" class="input">#}
                    </div>
                {% endif %}
            {% if form.confirm_password.errors %}
                    <label for="pass" class="label">confirm password</label>
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="group">
                        <label for="pass" class="label">confirm password</label>
                        {{ form.confirm_password (class="input") }}
                        {#                        <input id="user" type="text" class="input">#}
                    </div>
                {% endif %}
                {% if form.email.errors %}
                    <label for="user" class="label">Email</label>
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="group">
                        <label for="pass" class="label">Email</label>
                        {{ form.email (class="input") }}
                        {#                        <input id="user" type="text" class="input">#}
                    </div>
                {% endif %}


                <div class="group">
                    {{ form.submit (class="button") }}
                    {#                        <input type="submit" class="button" value="Sign Up">#}
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <label for="tab-1"><a>Already Member?</a></label>
                </div>

        </form>

    </div>
</div>
</div>
<script>

</script>
</body>
</html>