<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jamboree Palace</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles-merged.css">
    <link rel="stylesheet" href="../static/css/style.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="../static/fontawesome-free-5.15.2-web/css/all.css">

    <!--[if lt IE 9]>
      <script src="../static/js/vendor/html5shiv.min.js"></script>
      <script src="../static/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <!-- START: header -->

  <header role="banner" class="probootstrap-header">
    <!-- <div class="container"> -->
    <div class="row">
        <a href="index.html" class="probootstrap-logo visible-xs"><img src="../static/img/logoD1.png" class="hires"
                                                                       width="120" height="33"
                                                                       alt="Free Bootstrap Template by uicookies.com"></a>

        <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
            <ul class="probootstrap-main-nav">


                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="spaces_gallery.html">Spaces</a></li>
                <li><a href="contact.html">Contact</a></li>

                <li class="hidden-xs probootstrap-logo-center">
                    <a href="index.html">
                        <img src="../static/img/logoD1.png" class="hires" width="100px" height=""
                             alt="Jamboree-Palacelogo">
                    </a>
                </li>
                <li><a href="about.html">About</a></li>

                <li><a>
                    <select name="profile" id="profile">
                        <option value="placeholder"><a>PROFILE</a></option>
                        <option value=""><a>abc</a></option>
                        <option value=""><a>abc</a></option>
                        <option value=""><a>abc</a></option>
                        <option value=""><a>abc</a></option>
                    </select>
                </li>

                <li><a href="#">Login/Signup</a></li>
            </ul>
            <div class="extra-text visible-xs">
                <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
                <h5>Connect With Us</h5>
                <ul class="social-buttons">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook2"></i></a></li>
                    <li><a href="#"><i class="icon-instagram2"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- </div> -->
</header>
  <!-- END: header -->

  <!-- END: header -->

  <section class="probootstrap-slider flexslider">

          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <form action="#" method="post" class="probootstrap-form">

                    <div class="login-form">
                        <h2>Hey There!</h2>
                        <h4>Register to start booking spaces</h4>


                        <div class="col-md-8">
                            <div class="form-group">
                              <div class="form-field">
                                    <input type="email"  class="form-control" placeholder="Email" name="email" required>
                              </div>
                            </div>
                        </div>



                  <div class="col-md-8">
            <div class="form-group">
              <div class="form-field">
                    <input type="text"  class="form-control" placeholder="Username" name="username" required>
              </div>
            </div>
        </div>

            <div class="col-md-8">
                <div class="form-group">
                  <div class="form-field">
                        <input type="password"  class="form-control" placeholder="Enter Password" name="psw" required>
                  </div>
                </div></div>

                <div class="col-md-8">
                    <div class="form-group">
                      <div class="form-field">
                            <input type="password"  class="form-control" placeholder="Confirm Password" name="psw" required>
                      </div>
                    </div></div>
           
              <div class="col-md-8 col-md-offset-5" style="margin-top: 30px;">
                <div class="form-group">
                  <input type="submit" class="btn btn-primary btn-lg" id="submit" name="submit" value="Sign Up">
                </div>
              </div>
              
              <div class="col-md-8 col-md-offset-5" style="margin-top: 30px;">
                <div class="form-group">
                  <a href="#">Already a memeber?</a>
                </div>
              </div>
            </div>
          </form>
       
              </div>
            </div>
          </div>
  </section>

 

  

 
              

  <!-- START: footer -->
  <footer role="contentinfo" class="probootstrap-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="probootstrap-footer-widget">
                    <p class="mt40"><img src="../static/img/logoD1.png" class="hires" width="120" height="120"
                                         alt="logo"></p>
                    <p>A new idea for small groups to come together has finally become big enough to be put out there
                        for our clients.

                    </p>
                    <p><a href="#" class="link-with-icon">Learn More About Us!<i class=" icon-chevron-right"></i></a>
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="probootstrap-footer-widget">
                    <p class="mt40"><img src="../static/img/THIS, HERE, LIGHT.jfif" class="hires" width="480"
                                         height="200" alt="logo"></p>
                    <p>
                    <form>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="search" class="form-control" id="footer-newsletter"
                                       name="footer-newsletter" placeholder="Subscribe">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-md" id="submit" name="submit" value="Search"
                                   style="height: 35px;">
                        </div>
                </div>
                </form>
                </p>
            </div>


            <div class="col-md-3">
                <div class="probootstrap-footer-widget">
                    <h3>Contact</h3>
                    <ul class="probootstrap-contact-info">
                        <li><i class="icon-location2"></i>
                            <span>198 West 21th Street, Suite 721 New York NY 10016</span></li>
                        <li><i class="icon-mail"></i><span>info@domain.com</span></li>
                        <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
                    </ul>

                    <div class="row mt30">
                        <ul class="probootstrap-footer-social">
                            <li><a href=""><i class="icon-twitter"></i></a></li>
                            <li><a href=""><i class="icon-facebook"></i></a></li>
                            <li><a href=""><i class="icon-instagram2"></i></a></li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
  <!-- END: footer -->

  <script src="../static/js/scripts.min.js"></script>
  <script src="../static/js/main.min.js"></script>
  <script src="../static/js/custom.js"></script>


  </body>
</html>